body{
    margin: 0;
    background-color: rgb(70, 189, 137);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#frame{
    position:relative;
    text-align: center;
    text-align: center;
    background-color: black;
    width: 25%;
    height: 55vh;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 2%;
    padding-top: 10px;
}

#bill {
    outline-offset: 0;
    border: none;
    border-bottom: 1px solid white;
    outline-width: 0;
    background-color: black;
    padding:10px;
    padding-left: 3px;
    color:white;
    font-size: large;
    width: 42%;
    margin-bottom: 45px;
}

#find{
    background-color: white;
    width:45%;
    border-radius: 2rem;
    font-size: large;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 20px;
}

#find:hover{
    background-color:rgb(124, 215, 175) ;
}

h2{
    color: white;
}

p{
    margin-top: 1%;
    display:inline-block;
    margin-left: 60%;
    font-size: x-large;
    cursor: pointer;
}
